################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApp/DesignTimeBuild
/.vs/WebApp/v15/Server/sqlite3
/.vs/WebApp/v15
/.vs/WebApp/v17

/.vs/WebApp/FileContentIndex
/.vs/ProjectEvaluation
/WebApp/obj
/WebApp/bin
/WebApp/Properties
/WebApp/WebApp.csproj.user
