@model DAL.Models.Category.CategoryDepartmentViewModel
<div class="modal-content">
    <div class="modal-header p-2">
        @if (Model.Id == 0)
        {
            <h5 class="modal-title">Thêm khoa/phòng ban</h5>
        }
        else
        {
            <h5 class="modal-title">Chỉnh sửa khoa/phòng ban</h5>
        }

    </div>
    <div class="content-body">
        <div class="modal-body p-3">
            <form id="frmCreateDepartment">
                <input id="a_department_id" hidden value="@Model.Id" />
                <fieldset class="border rounded-1 pb-3 pe-3 ps-3 mb-3">
                    <legend class="float-none w-auto px-3 text-uppercase fw-bold fs-3 mb-0 text-blue">Thông tin mục chi</legend>

                    <div class="row">
                       
                        <div class="col-md-6">
                            <label class="form-label">Mã khoa/phòng ban: <span class="text-red">*</span></label>
                            <input type="text" class="form-control" id="a_code" name="code" value="@Model.Code" />
                        </div>

                        <div class="col-md-6 ">
                            <label class="form-label col-auto">Tên khoa/phòng ban: <span class="text-red">*</span></label>
                            <input type="text" class="form-control" id="a_name" name="name" value="@Model.Name" />
                        </div>

                    </div>
                    <div class="row">
                        
                        <div class="col-md-6">
                            <label class="form-label">Ghi chú:</label>
                            <textarea class="form-control" id="a_ghi_chu" name="ghi_chu">@Model.Notes</textarea>
                        </div>

                    </div>
                </fieldset>

            </form>
        </div>
    </div>
    <div class="modal-footer p-0">
        <button type="button" class="btn btn-primary btn-footer" id="btnLuuTaoDot" onclick="CreateDepartment();"><i class="fas fa-save me-1"></i>&nbsp;Lưu</button>
        <button type="button" class="btn btn-secondary btn-footer" onclick="closeModal_Department();" data-bs-dismiss="modal"><i class="fas fa-times me-1"></i>&nbsp;Đóng</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        if ($("#a_department_id").val() == "0") {
            var projectCode = generateCode("BP");
            if (projectCode != "") {
                $('#a_code').val(projectCode);
                // $('#a_code').prop('readonly', true);
            }

        }
        else {
            // $('#a_code').prop('readonly', true);
        }
    });
</script>