@using System.Security.Claims
@using WebApp.ExcelHelper;
@{
    ViewData["Title"] = "Danh sách nhóm hoạt động";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string Permission = User.Claims.FirstOrDefault(x => x.Type == "Permission").Value;
    bool isDelete = AuthHelper.GetPermissionHelper(Permission).Contains(PermissionHelper.NhomHoatDong.Delete);
    bool isAdd = AuthHelper.GetPermissionHelper(Permission).Contains(PermissionHelper.NhomHoatDong.Add);
    bool isEdit = AuthHelper.GetPermissionHelper(Permission).Contains(PermissionHelper.NhomHoatDong.Edit);
}
@model List<DAL.Models.ComboBoxModel>
@section styles{

    <link href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/plugins/datatables-fixedcolumns/css/fixedColumns.bootstrap4.css" rel="stylesheet" />
    <style>
        .div-member {
            margin-left: 20px;
        }

            .div-member .nav .nav-link {
                margin: 4px 0 !important;
            }

        .card .nav.flex-column > li {
            border-bottom: 0px;
        }

        .span-team-name {
            font-weight: bold
        }

        .i-edit-saleteam {
            color: #555;
        }

        .i-delete-saleteam {
            color: #ff0000;
        }

        .typeahead {
            width: 100% !important;
        }
    </style>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@(ViewData["Title"])</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">@(ViewData["Title"])</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">

    <div class="row">

        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">

                        <div class="col-sm-3">
                            <label>Mã nhóm hoạt động</label>
                            <input type="text" class="form-control" id="txtMa" />
                        </div>
                        <div class="col-sm-3">
                            <label>Tên nhóm hoạt động</label>
                            <input type="text" class="form-control" id="txtTen" />
                        </div>
                        <div class="col-sm-3">
                            <button onclick="SearchNhomHoatDong()" class="btn btn-filter btn-sm btn-primary"><i class="fa fa-search"></i>&nbsp;Tìm kiếm</button>
                            @if (isAdd == true)
                            {
                                <button id="btn-createNV" class="btn btn-filter btn-sm btn-success" onclick="showModalCreateActiveGroup(0)"><i class="fa fa-plus-circle"></i>&nbsp;Thêm mới</button>
                                <button id="btn-createNV" class="btn btn-filter btn-sm btn btn-primary" onclick="showModalImport()"><i class="fas fa-file-import"></i>&nbsp;Import</button>
                            }
                        </div>

                    </div>
                </div>

                <div class="card-body ">
                    <table class="table table-bordered table-hover dataTable" id="table-activegroup" width="100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Mã nhóm hoạt động</th>
                                <th>Tên nhóm hoạt động</th>
                                <th>Ghi chú</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>

    </div>


</section>


<!--modal add-->
<div class="modal modal-blur fade" id="modal_add_activegroup" data-bs-backdrop="static" data-bs-focus="false" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl" id="dailog_activegroup">

    </div>
</div>

<!--modal import-->
<div class="modal modal-blur fade" id="modal_import_active_group" data-bs-backdrop="static" data-bs-focus="false" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog " id="form_import_active_group">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">Tải lên dữ liệu nhóm hoạt động</h5>

            </div>
            <div class="modal-body">
                <p><strong>Bước 1:</strong> Tải file mẫu tại đây - <a href="~/template/TemplateImportActiveGroup.xlsx" class="text-primary">File mẫu</a></p>
                <p><strong>Bước 2:</strong> Tải lên file dữ liệu mẫu phía trên</p>
                <p class="text-danger"><strong>Lưu ý:</strong> Không thay đổi header của file mẫu</p>
                <form>
                    <div class="mb-3">
                        <label for="fileInput" class="form-label">Chọn file</label>
                        <input class="form-control" type="file" id="fileInput" accept=".xls, .xlsx" onchange="readFileImport()">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!--modal read import-->

<div id="cntModalListActiveGroup">
    <div class="modal fade" id="ListActiveGroupModal" tabindex="-1" aria-labelledby="ListActiveGroupModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header pt-2 pb-2">
                    <h5 class="modal-title" id="ListActiveGroupModalLabel">Tải lên dữ liệu nhóm mục chi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                        <span aria-hidden="true">
                            <i class="fa fa-times"></i>
                        </span>
                    </button>
                </div>
                <div class="modal-body" style="height: calc(100vh - 200px);overflow:scroll">
                    <div class="row mb-2">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                            <table class="table table-root">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" name="checkAllRow" checked="checked">
                                        </th>
                                        <th scope="col">Mã nhóm</th>
                                        <th scope="col" class="">Tên nhóm</th>
                                       
                                    </tr>
                                </thead>
                                <tbody id="lst-data-info">
                                </tbody>
                               
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer-custom">
                    <div class="footer-left col-6">
                        <label>Số lượng dòng đã chọn: </label>
                        <span id="sumcheck"></span>
                    </div>

                    <div class="footer-right col-6 pb-3">
                        <button type="button" class="btn btn-primary" onclick="ImportNhomHoatDong()">Import nhóm mục chi</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal result import-->
<div id="cntModalResultImport">
    <div class="modal fade" id="ListActiveGroupModalResultImport" tabindex="-1" aria-labelledby="ListActiveGroupModalResultImportLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header pt-2 pb-2">
                    <h5 class="modal-title" id="ListNVModalResultImportLabel">Kết Quả Import</h5>

                </div>
                <div class="modal-body" style="height: calc(100vh - 200px);overflow:scroll">
                    <div class="row mb-2">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                            <table class="table table-root" id="table-root-result-import">
                                <thead>
                                    <tr>

                                        <th scope="col">Mã hoạt động</th>
                                        <th scope="col" class="">Tên hoạt động</th>
                                        <th scope="col" class="">Trạng thái</th>
                                        
                                    </tr>
                                </thead>
                                <tbody id="lst-data-info">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer-custom">


                    <div class="footer-right col-6 pb-3">

                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModalResultImport()">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/plugins/datatable/jquery.datatable.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/plugins/datatables-fixedcolumns/js/dataTables.fixedColumns.js"></script>

    <script src="~/plugins/mdb-treeview/forms-free.js"></script>
    <script src="~/plugins/mdb-treeview/scrolling-navbar.js"></script>
    <script src="~/plugins/mdb-treeview/treeview.js"></script>
    <script src="~/plugins/mdb-treeview/wow.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script>

        const isEdit = @isEdit.ToString().ToLower();
        const isDelete = @isDelete.ToString().ToLower();
        var tableId = "#table-activegroup";
        var ajaxURL = "/Category/GetDataActiveGroup";
        var columnData = [
            { "data": "id", visible: false },
            { "data": "code" },
            { "data": "name" },
            { "data": "notes" },
            {
                "data": "id", "render": function (data, type, row, meta) {
                    return RenderTableAction(data);
                }
            },


        ];

        var arrMembers = [];


        $(document).ready(function () {

            SearchNhomHoatDong();


        });
        function RenderTableAction(id) {
            let html = `<div class='div-table-action'>`;

            // Check if Edit action should be added
            if (isEdit) {
                html += `<i class='fa fa-edit' onclick='showModalCreateActiveGroup(${id})' title='sửa'></i>&nbsp`;
            }

            // Check if Delete action should be added
            if (isDelete) {
                html += `<i class='fa fa-trash' onclick='DeleteActiveGroup(${id})' title='xóa'></i>`;
            }
            html += `</div>`;
            
            //var html = `
            //            <div class='div-table-action'>
            //                <i class='fa fa-edit' onclick='showModalCreateActiveGroup(${id})' title='sửa'></i>
            //                <i class='fa fa-trash' onclick='DeleteActiveGroup(${id})' title='xóa'></i>
            //            </div>`;
            return html;

        }

        function SearchNhomHoatDong() {

            var dataSearch = {
                Code: $("#txtMa").val(),
                Name: $("#txtTen").val()
            };
            GenrateDataTableSearch(tableId, ajaxURL, columnData, dataSearch);

        }

        function showModalCreateActiveGroup(id) {
            $.ajax({
                url: '/Category/_AddNhomHoatDong/' + id, // Đảm bảo đường dẫn này đúng với action của bạn
                type: 'GET',
                success: function (response) {
                    // Chèn HTML trả về vào phần tử có id "dailog_nv"
                    $('#dailog_activegroup').html(response);

                    // Hiển thị modal
                    $("#modal_add_activegroup").modal("show")
                },
                error: function (xhr, status, error) {
                    console.error("Có lỗi khi tải nội dung modal: ", error);
                    alert("Lỗi tải modal, vui lòng thử lại sau.");
                }
            });
        }

        function CreateActiveGroup() {

            var isValidate = validateData();

            if (isValidate == true) {


                var dataPost = {
                    Id: $("#a_active_group_id").val(),
                    Code: $("#a_code").val(),
                    Name: $("#a_name").val(),
                    Notes: $("#a_ghi_chu").val(),
                };
                console.log("dataPost", dataPost)
                $.ajax({
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    url: "/Category/CreateActiveGroup",
                    dataType: 'json',
                    data: JSON.stringify(dataPost),
                    beforeSend: function () {

                    },
                    success: function (res) {
                        if (res.isSuccess === true) {
                            toastr.success('Thêm nhóm hoạt động thành công!', 'Thành công', { positionClass: "toast-top-center" });
                            SearchNhomHoatDong();
                            $("#modal_add_activegroup").modal("hide")
                        } else {
                            toastr.error(res.errorMessage, 'Lỗi', { positionClass: "toast-top-center" });
                        }

                    }
                });
            }
        }

        function validateData() {
            var resultValid = $("#frmCreateActiveGroup").validate({
                rules: {
                    "code": {
                        required: true,
                    },
                    "name": {
                        required: true,
                    }

                },
                messages: {
                    "code": "Mã không được để trống!",
                    "name": "Tên không được để trống!"
                },

            }).form();

            return resultValid;
        }

        function closeModal_ActiveGroup() {

            $("#modal_add_activegroup").modal("hide")

        }

        function DeleteActiveGroup(id) {
            Swal.fire({
                title: 'Bạn có chắc chắn?',
                text: "Bạn sẽ không thể hoàn tác hành động này!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Xóa',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.isConfirmed) {
                    // call ajax delete
                    $.ajax({
                        url: '/Category/DeleteActiveGroup',
                        type: 'GET',
                        data: {
                            Id: id
                        },
                        success: function (response) {
                            if (response.success) {

                                toastr.success('Nhóm hoạt động đã được xóa thành công!', 'Thành công', { positionClass: "toast-top-center" });
                                SearchNhomHoatDong();
                            }
                            else {
                                console.error(response);
                                toastr.error('Xóa thất bại.Đã phát sinh hồ sơ thanh toán!', 'Lỗi', { positionClass: "toast-top-center" });
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error("Có lỗi khi tải nội dung modal: ", error);
                            alert("Lỗi tải modal, vui lòng thử lại sau.");
                        }
                    });

                }
            });
        }

        function showModalImport() {
            $("#modal_import_active_group").modal("show")
        }

        function readFileImport() {
            var formData = new FormData();
            var fileInput = document.getElementById('fileInput');
            var file = fileInput.files[0];
            if (file == undefined) {

                Swal.fire({
                    title: "Vui lòng chọn file!",
                    icon: "error"
                });
                return;
            }
            formData.append('file', file);
            $.ajax({
                url: '/Category/ReadFileImportActiveGroup',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                beforeSend: function () {
                    ShowWaiting();
                },
                complete: function () {
                    HideWaiting();
                },
                success: function (response) {
                    console.log("response", response)
                    dataSubmit = [];
                    dataResponeAjax = [];

                    if (response.status = "Success") {
                        var data = response.data;
                        var htmlAppend = '';
                        for (var i = 0; i < data.length; i++) {
                            var code = generateCode("NHD");
                            data[i].code = code;
                            htmlAppend += `<tr>`;
                            htmlAppend += `<td class="col-checkbox">
                                                             <input data-id='`+ data[i].code + `' type="checkbox" checked="checked" name="checkRow">
                                     </td>`;
                            htmlAppend += `<td>` + data[i].code + `</td>`;
                            htmlAppend += `<td>` + data[i].name + `</td>`;
                            htmlAppend += `</tr>`;
                            dataSubmit.push(data[i]);
                            dataResponeAjax.push(data[i]);
                        }
                        $('#cntModalListActiveGroup #ListActiveGroupModal #lst-data-info').html(htmlAppend);
                        showModal();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    Swal.fire({
                        title: jqXHR.responseText,
                        icon: "error"
                    });
                }
            });
        }

        function showModal() {
            $('#cntModalListActiveGroup #ListActiveGroupModal').modal().show();
            caclCheckTotal();
            $('#modal_import_active_group').modal('hide');
            $('#cntModalListActiveGroup #ListActiveGroupModal #lst-data-info').on('click', '[name="checkRow"]', function () {
                var dataId = $(this).attr('data-id');
                if ($(this).is(':checked')) {
                    var dtSubmit = dataResponeAjax.find(x => x.code == dataId);
                    if (dtSubmit) {
                        dataSubmit.push(dtSubmit);
                    }
                }
                else {
                    $('[name="checkAllRow"]').prop('checked', false);
                    dataSubmit = dataSubmit.filter(x => x.code != dataId);
                }
                caclCheckTotal();
            });
            $('#cntModalListActiveGroup #ListActiveGroupModal [name="checkAllRow"]').on('click', function () {
                if ($(this).is(':checked')) {
                    $('#cntModalListActiveGroup #ListActiveGroupModal #lst-data-info [name="checkRow"]').prop('checked', true);
                    dataSubmit = dataResponeAjax;
                }
                else {
                    $('#cntModalListActiveGroup #ListActiveGroupModal #lst-data-info [name="checkRow"]').prop('checked', false);
                    dataSubmit = [];
                }
                caclCheckTotal();
            })

        }


        function caclCheckTotal() {
            var total = 0;
            $('#cntModalListActiveGroup #ListActiveGroupModal #lst-data-info [name="checkRow"]').each(function () {
                if ($(this).is(':checked')) {
                    total++;
                }
            });
            $('#cntModalListActiveGroup #ListActiveGroupModal #sumcheck').text(total);
        }
        function checkAllCheckbox() {
            var flag = true;
            $('#cntModalListActiveGroup #ListActiveGroupModal #lst-data-info [name="checkRow"]').each(function () {
                if (!$(this).is(':checked')) {
                    flag = false;
                    return false;
                }
            });
            return flag;
        }

        function ImportNhomHoatDong() {
            if (dataSubmit.length < 1) {
                Swal.fire({
                    title: "Vui lòng chọn ít nhất 1 dòng",
                    icon: "error"
                });
                return;
            }
            console.log("dataSubmit", dataSubmit)
            var jsonStr = JSON.stringify(dataSubmit);
            $.ajax({
                url: '/Category/ImportActiveGroup',
                type: 'POST',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: jsonStr,
                processData: false,
                beforeSend: function () {
                    $('#cntModalListActiveGroup #ListActiveGroupModal').modal('hide');

                },
                complete: function () {

                },
                success: function (response) {
                    console.log("response", response)
                    Swal.fire({
                        title: "Thao tác đã thực hiện",
                        text: dataSubmit.length + " dòng dữ liệu",
                        icon: response.status == "Thành công" ? "success" : "error"
                    });

                    var htmlAppend = '';
                    for (var i = 0; i < response.data.length; i++) {
                        htmlAppend += `<tr>`;
                        htmlAppend += `<td>` + response.data[i].item.code + `</td>`;
                        htmlAppend += `<td>` + response.data[i].item.name + `</td>`;
                        var messageColor = response.data[i].message == "Thành công" ? "green" : "red";
                        htmlAppend += `<td style='color:${messageColor};'>` + (response.data[i].message) + `</td>`;
                        htmlAppend += `</tr>`;


                    }
                    $('#ListActiveGroupModalResultImport #table-root-result-import #lst-data-info').html(htmlAppend);

                    $('#ListActiveGroupModalResultImport').modal().show();
                    SearchNhomHoatDong();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#result').html('Error: ' + textStatus + ' - ' + errorThrown);
                }
            });
        }
    </script>
}


