
@{
    Layout = null;
}
@model DAL.Models.ChangePassModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đổi mật khẩu</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link href="~/plugins/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/css/adminlte.css" rel="stylesheet" />
    <style>
        #alert-ok, #alert-fail{
            display:none;
        }
    </style>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-warning">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>ICHI SKILL</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">ĐỔI MẬT KHẨU</p>
                <form method="post" id="form-changepass">
                    @Html.AntiForgeryToken()
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                    </div>
                    <div class="input-group mb-3">
                        @Html.PasswordFor(x => x.CurrentPass, new { @class = "form-control",@placeholder="Mật khẩu cũ" })
                    </div>
                    <div class="input-group mb-3">
                        @Html.PasswordFor(x => x.NewPass, new { @class = "form-control", @placeholder = "Mật khẩu cũ" })
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="button" class="btn btn-warning" id="btn-change-pass" value="Đổi mật khẩu" />
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <br />
                <div class="row">
                    <div class="alert alert-success" style="width:100%" role="alert" id="alert-ok">
                        <span>Đổi pass thành công, <a href="/account/login">Quay lại đăng nhập với mật khẩu mới</a></span>
                    </div>
                </div>
                <div class="row">
                    <div class="alert alert-danger" style="width:100%" role="alert" id="alert-fail">Đổi pass không thành công, mật khẩu cũ không đúng </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/app-script/helper.js"></script>
    <script>
        $(document).ready(function () {
            $("#btn-change-pass").click(function () {
                OkChangePass();
            });
        });
        function OkChangePass() {
            let valid = ValidateChangePass();
            if (valid=true)
            {
                var userObj = FormToObject("#form-changepass",null);
                $.ajax({
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    url: "/Account/ChangePass",
                    dataType: 'json',
                    data: JSON.stringify(userObj),
                    beforeSend: function () {

                    },
                    success: function (res) {
                        debugger;
                        if (res.isSuccess === true) {
                            $("#alert-ok").show();
                            $("#alert-fail").hide();

                            $("#CurrentPass").val(null);
                            $("#NewPass").val(null);

                        } else {

                            $("#alert-ok").hide();
                            $("#alert-fail").show();
                        }

                    }
                });
            }
        }
        function ValidateChangePass()
        {
            var resutlValid = $("#form-changepass").validate({
                rules: {
                    "CurrentPass": "required",
                    "NewPass": "required",
                },
                messages: {
                    "CurrentPass": null,
                    "NewPass": null,
                }
            }).form();
            return resutlValid;
        }
    </script>
</body>
</html>
